.container {
  padding: 20px;
  color: white;
}
.details {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.details img {
  width: 200px;
  height: auto;
  border-radius: 12px;
}
.videoBox {
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  margin: 40px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.videoBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
