.contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactForm{
    width: 100%;
    max-width: 660px;
    border: 1px solid #606060;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.inputNames{
    display: flex;
    justify-content: space-between;
}
.inputNames input{
    background: none;
    border: 1px solid #606060;
    border-radius: 8px;
    padding: 13px 50px;
}
.inputNames p{
    font-size: 0.85rem;
     margin-top: 4px;
}
.nameInputForm{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.emailForm{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.emailForm input{
    padding: 13px 243px;
    background: none;
    border: 1px solid #606060;
    border-radius: 8px;
}
.emailForm p {
    font-size: 0.85rem;
    margin-top: 4px;
}
.messageForm{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.messageForm input{
    padding: 70px 240px;
    background: none;
    border: 1px solid #606060;
    border-radius: 8px;
}
.submitForm{
    display: flex;
    justify-content: center;
}
.submitForm button{
    background-color: #FF4800;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: #FAF9F7;
    font-size: 14px;
    cursor: pointer;
}
@media (max-width: 900px) {
    .contactForm {
      padding: 10px;
      gap: 30px;
      display: flex;
      flex-direction: column;
    }
  
    .inputNames {
      flex-direction: column;
      gap: 15px;
    }
  
    .inputNames input,
    .emailForm input,
    .messageForm input {
      padding: 13px 15px;
      width: 100%;
    }
  
    .messageForm input {
      padding: 50px 15px;
    }
  }