.header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.header span {
    font-size: 24px;
    color: #FAF9F7;
}

.contactUsButton {
    background-color: #FF4800;
    border: none;
    padding: 8px 23px;
    border-radius: 6px;
    color: #FAF9F7;
    font-size: 14px;
    cursor: pointer;
    margin-right: 15px;
}

.line {
    width: 500px;
    height: 2px;
    color: white;
}

.burger {
    font-size: 30px;
    background: none;
    border: none;
    margin: 10px;
    cursor: pointer;
    display: none;
}

@media (max-width: 800px) {
    .burger {
        display: block;
    }

    .header {
        margin-top: 0px;
    }
}