.about {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px 10px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  flex: 1;
  min-width: 250px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.description {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

p {
  color: #ADA89F;
  font-size: 1.1rem;
  line-height: 1.6;
}

button {
  border-radius: 999px;
  width: fit-content;
  border: 1px solid #ADA89F;
  background-color: #1A1716;
  cursor: pointer;
  padding: 8px 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  gap: 8px;
  color: #ADA89F;
}

p {
  color: #ADA89F;
  font-size: 1rem;
  line-height: 1.5;
}

.sponsor,
.submit {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.clipped {
  flex: 1;
  min-width: 250px;
  max-width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipped img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}